certifi==2018.4.16
chardet==3.0.4
click==6.7
docopt==0.6.2
Flask==1.0.1
gunicorn==19.8.0
httpserver==1.1.0
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.3
pandas==0.22.0
python-dateutil==2.7.2
python-dotenv==0.8.2
python-google-places==1.4.1
pytz==2018.4
requests==2.18.4
six==1.11.0
urllib3==1.26.5
Werkzeug==0.14.1
